In [12]:
import flywheel
import random
import pandas as pd
import os
import datetime 
fw = flywheel.Client()
collection_id = '60eca24fcfdec364fd96c874' # Neuroprint Validation

In [2]:
collection_sessions = [fw.get_session(x.id) for x in fw.get_collection_sessions(collection_id)]

In [3]:
# create list of subject and session labels
subject_labels = []
session_labels = []
for session in collection_sessions:
    subject = fw.get(session.parents['subject'])
    subject_labels.append(subject.label)
    session_labels.append(session.label)

In [4]:
print(session_labels[0:5])
print(subject_labels[0:5])

['123194x20190603x3T', '119851x20190613x3T', '121105x20170427x3T', '121195x20170523x3T', '121299x20170808x3T']
['123194', '119851', '121105', '121195', '121299']

In [5]:
# generate list of numbers from 1 to number of sessions (i.e. images)
numbers = list(range(1, len(session_labels) + 1))

#stage 1
stage1 = numbers.copy()
random.shuffle(stage1)
print(stage1[0:5])

# stage 3
stage3 = numbers.copy()
random.shuffle(stage3)
print(stage3[0:5])

# stage 4
stage4 = numbers.copy()
random.shuffle(stage4)
print(stage4[0:5])

[31, 25, 16, 19, 24]
[33, 15, 41, 49, 11]
[31, 18, 26, 43, 35]

In [6]:
data = list(zip(subject_labels, session_labels, stage1, stage3, stage4))
df = pd.DataFrame(data, columns=['Subject Label', 'Session Label', 'Stage 1', 'Stage 3', 'Stage 4'])

In [7]:
df.head()

  Subject Label       Session Label  Stage 1  Stage 3  Stage 4
0        123194  123194x20190603x3T       31       33       31
1        119851  119851x20190613x3T       25       15       18
2        121105  121105x20170427x3T       16       41       26
3        121195  121195x20170523x3T       19       49       43
4        121299  121299x20170808x3T       24       11       35

In [10]:
df.to_csv('lookup_table.csv', index=False)

In [13]:
# save the csv in a backups folder with the timestamp
datetime = datetime.datetime.now()
date = str(datetime).replace(' ', '_')
cmd = 'cp lookup_table.csv lookuptable_backups/lookup_table_{}.csv'.format(date)
os.system(cmd)

0